<!doctype html>
<html>
  <head>
    <title>About <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
    <h1>About <%=appName%></h1>
    <%- include('navbar') %>
    <p>Welcome to Recipe buddy! My name is Filip Condac and I am the developer of this project! I hope you can put it to good use and enjoy!</p>
   
  </body>
</html>