<!doctype html>
<html>
  <head>
    <title>Welcome to <%=appName%></title>
    <link rel="stylesheet"  type="text/css" href="main.css" />
  </head>
  <body>
      <h1>Welcome to <%=appName%></h1>
      <%- include('navbar') %>
  </body>
</html>
