<div class="navbar">
  <p><a href="/">Home</a></p>
  <p><a href="about">About</a></p>
  <p><a href="register">Register</a></p>
  <p><a href="login">Login</a></p>
  <p><a href="allfood">View all Food</a></p>
  <p><a href="addfood">Add Food</a></p>
  <p><a href="search">Search</a></p>
  <p><a href="update">Update</a></p>
  <p><a href="delete">Delete</a></p>
  <p><a href="api">API</a></p>
  <p><a href="logout">Logout</a></p>
</div>
